@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="slice">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <!-- Article body -->
                <article>
                    On Causes.org, people are starting causes, mobilising supporters and changing the world
                </article>
            </div>
        </div>
    </div>
</section>

